#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

body {
  background-color: #edecea;
  padding-bottom: 70px;
}

/* Date card */

.card {
  width: 225px;
  height: 160px;
  border-radius: 15px;
  left: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.category:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icon, .text {
  transition: transform 0.3s ease;
}

.performance-card {
  width: 95%;
  height: 300px;
  border-radius: 15px;
  left: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.revenue-card {
  width: 95%;
  height: 100%;
  border-radius: 15px;
  left: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.pie-chart-card {
  width: 95%;
  height: 100%;
  border-radius: 15px;
  left: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.employee-card {
  border-radius: 15px;
  left: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.link {
  color:black;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.notification.fade-out {
  opacity: 0;
}



