
  .navbar-logo {
    max-width: 100px;
    max-height: 70px;
    background-color: white;
    mix-blend-mode:multiply;
    filter: contrast(1);
    margin-left: 1rem;
  }

  .sidebar-logo {
    max-width: 55px;
    max-height: 85px;
    /* background-color: white; */
    /* mix-blend-mode:multiply; */
    filter: contrast(1);
    margin-left: 1rem;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will create space between the logo and the title */
  }
  
  .navbar-title {
    position:absolute;
    left: 50%;
    transform: translate(-50%, -20%);
    margin: 0;
    padding-bottom: 50px;
    color: rgb(121, 174, 192);
  }


  
  
