.navbar-logo {
  max-width: 100px;
  max-height: 70px;
  background-color: white;
  mix-blend-mode: multiply;
  filter: contrast(1);
  margin-left: 1rem;
}

.sidebar-logo {
  max-width: 55px;
  max-height: 85px;
  filter: contrast(1);
  margin-left: 1rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This creates space between the logo and the title */
  position: relative;
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -20%);
  margin: 0;
  padding-bottom: 50px;
  color: rgb(121, 174, 192);
}

@media (max-width: 600px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-title {
    position: static;
    transform: none;
    padding-bottom: 0;
    margin-top: 1rem;
  }

  .navbar-logo {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
